.calendar {
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
}

.calendarDay {
    border-radius: 4px;
    background: #CCC;
    margin: 2px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    color: hsl(0, 0%, 20%);
    cursor: pointer;
}

.calendarDayWeekend {
    background: magenta;
}

.calendarDaySelected {
    background: cyan;
}

.break {
    flex-basis: 100%;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
